body{
    background-image: url(img/woodbackground.jpeg);
    height: 750px;
    background-size: cover;
    margin: 0%;
}

#topic{
    color: #461e08;
    display: flex;
    justify-content: center;
}

#knife{
    margin-right: 25px;
}
.Canva{
    background-image: url(img/bord.jpeg);
    height: 750px;
    background-size: cover;
    border: 3px solid black;
    border-radius: 90%;

}
.Canva2{
    background-image: url(img/gebrokenbord.jpeg);
    height: 750px;
    background-size: cover;
    border: 3px solid black;
    border-radius: 90%;

}

#gameContainer{
    align-items: center;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

#logo{
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: right;
}

#score{
    color: #461e08;
    display: flex;
    justify-content: center;
}

#controls{
    margin-left: 310px;
    margin-right: 310px;
    margin-bottom: 50px;
}